body {
	min-height: 100vh;
	max-width: 100vw;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

#left-container {
	background-color: #ff6262;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#right-container {
	background-color: #50d1d1;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#editor {
	width: 80%;
	height: 400px;
}

#title {
	margin-bottom: 3rem;
	font-size: 4rem;
	font-family: 'Pacifico', cursive;
	color: beige;
}

#preview {
	background-color: white;
	width: 80%;
	max-width: 90%;
}

.instructions {
	color: antiquewhite;
}
